.ion-tabs-up{
	width: 100%;
	height: rem(100);
}
.ion-tabs{
	position: fixed;
	z-index: 10000;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: rem(100);
	@include box-shadow(0 0 10px 0 rgba(155,143,143,0.6));
	&.tabs-light{
		background-color: #f4f4f4;
	}
	@extend %comm-flex;
	.ion-tab{
		@include flex(1);
		width: 0;
		@include justify-content(center);
		text-align: center;
		a{
			display: block;
			font-size: 0;
		}
		i{
			font-size: rem(50);
			line-height: 1;
			color: #555555;
		}
		.tab-tro{
			font-size: rem(24);
			color: #333333;
			line-height: 1;
		}
		&.active{
			i,.tab-tro{
				color: #e6133c;
			}
			i.tab-index:before{
				content: "\E00C";
			}
		}
	}
}