@font-face {
	font-family: "blfont";
	src: url('./blfont.ttf') format('truetype');
}

.iconfont {
	font-family: "blfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
	line-height: normal;
	text-rendering: auto;
}


.arrow-back:before {
	content: "\E001";
}

.arrow-right:before {
	content: "\E002";
}

.camera:before {
	content: "\E003";
}

.camerafill:before {
	content: "\E004";
}

.cart:before {
	content: "\E005";
}

.cartfill:before {
	content: "\E006";
}

.close:before {
	content: "\E007";
}

.deliver:before {
	content: "\E008";
}

.evaluate:before {
	content: "\E009";
}

.home:before {
	content: "\E00A";
}

.homefill:before {
	content: "\E00B";
}

.message:before {
	content: "\E00C";
}

.messagefill:before {
	content: "\E00D";
}

.more-v:before {
	content: "\E00E";
}

.my:before {
	content: "\E00F";
}

.myfill:before {
	content: "\E010";
}

.pay:before {
	content: "\E011";
}

.refund:before {
	content: "\E012";
}

.scan:before {
	content: "\E013";
}

.send:before {
	content: "\E014";
}
