.load-container {
    position: absolute;
    @include box-sizing(border-box);
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}


/*load*/

.load-ainmal {
    width: 3.5*1rem;
    @include animation(indexload 1s infinite linear);
}

.inside-contain {
    @extend %comm-flex;
    @include justify-content(center);
    position: relative;
}

.center-img {
    width: 1.36*1rem;
    height: 1.6*1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%));
}

@keyframes indexload {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes indexload {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes indexload {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

div.plusMark {
    background: rgba(0, 0, 0, 0.4);
    display: none;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
