// toast
.toast {
  position: fixed;
  z-index: 10004;
  bottom: 50%;
  left: 50%;
  left: 0;
  right: 0;
  text-align: center;
  p{
    min-width: rem(290);
    min-height: rem(88);
    max-width: rem(600);
    margin: 0 auto;
    display: inline-block;
    background: rgba(0,0,0,0.80);
    padding: rem(22) rem(40);
    font-family: PingFang-SC-Regular;
    font-size: rem(30);
    color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
  }
}

.mask-transparent{
  @include mask(0);
  display: block;
}
