$ios:              false !default;
@if $ios == true {
    $color-text:        #000000 !default;
    $modalDuration:     500ms !default;
    $modalBgColor:      #ffffff !default;
    $modalButonColor:   #007aff !default;
    $modalButonBg:      #ffffff !default;
    .modal {
        width: rem(540);
        position: fixed;
        z-index: 11000;
        left: 50%;
        margin-left: rem(-270);
        margin-top: 0;
        overflow: hidden;
        top: 50%;
        text-align: center;
        border-radius: rem(15);
        opacity: 0;
        transform: translate3d(0,-50%,0)!important;
        transition-property: opacity;
        color: $color-text;
        display: none;
        &.modal-in {
            opacity: 1;
            transition-duration: $modalDuration;
            display: block;
        }
        &.modal-out {
            opacity: 0;
            z-index: 11000-1;
            transition-duration: $modalDuration;
        }
    }
    .modal-close{
        position: absolute;
        z-index: 3;
        right: rem(26);
        top: rem(26);
        background: transparent inline-image("base64/modal-close.png") no-repeat center center;
        background-size: contain;
        width: rem(30);
        height: rem(30);
    }
    .modal-inner {
        padding: rem(30);
        border-radius: rem(15) rem(15) 0 0;
        position: relative;
        background: $modalBgColor;
    }
    .modal-title {
        font-weight: 500;
        font-size: rem(34);
        text-align: center;
        +.modal-text {
            margin-top: rem(10);
        }
    }
    .modal-buttons {
        height: rem(88);
        overflow: hidden;
        @include hairline(top, #b5b5b5);
        @extend %comm-flex;
        @include justify-content(center);
        &.modal-buttons-vertical {
            display: block;
            height: auto;
        }
    }
    .modal-button {
        width: 100%;
        padding: 0 rem(10);
        height: rem(88);
        font-size: rem(34);
        border: 0;
        text-align: center;
        color: $modalButonColor;
        background: $modalButonBg;
        display: block;
        position: relative;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;
        @include hairline(right, #b5b5b5);
        @include flex(1);
        &:first-child {
            border-radius: 0 0 0 rem(15);
        }
        &:last-child {
            background-image: none;
            border-radius: 0 0 rem(15) 0;
        }
        &:first-child:last-child {
            border-radius: 0 0 rem(15) rem(15);
            background-origin: padding-box;
        }
        &.modal-button-bold {
            font-weight: bold;
        }
        .modal-buttons-vertical & {
            background-image: none;
            @include hair(bottom, #b5b5b5);
            border-radius: 0;
            &:last-child {
                border-radius: 0 0 rem(15) rem(15);
                background-image: none;
            }
        }
    }
    .modal-no-buttons {
        .modal-inner {
            border-radius: rem(15);
            background-image: none;
        }
        .modal-buttons {
            display: none;
        }
    }
} @else {
    $color-text:        #666666 !default;
    $modalDuration:     500ms !default;
    $modalBgColor:      #F8F8F8 !default;
    $modalButonColor:   #333333 !default;
    $modalButonBg:      #F8F8F8 !default;
    $borderColor:       #dddddd !default;
    $modalButtonHeight: rem(88) !default;
    .modal {
        width: rem(540);
        max-height: rem(1024);
        position: fixed;
        z-index: 11000;
        left: 50%;
        margin-left: rem(-270);
        margin-top: 0;
        overflow: hidden;
        top: 50%;
        text-align: center;
        border-radius: rem(15);
        opacity: 0;
        @include transform(translate(0,-50%)!important);
        @include transition-property(opacity);
        color: $color-text;
        display: none;
        &.modal-in {
            opacity: 1;
            @include transition-duration($modalDuration);
            display: block;
        }
        &.modal-out {
            opacity: 0;
            z-index: 11000-1;
            @include transition-duration($modalDuration);
        }
    }
    .modal-close{
        position: absolute;
        z-index: 3;
        right: rem(26);
        top: rem(26);
        background: transparent inline-image("base64/modal-close.png") no-repeat center center;
        background-size: contain;
        width: rem(30);
        height: rem(30);
    }
    .modal-inner {
        padding: rem(30);
        @include hairline(bottom, $borderColor);
        border-radius: rem(15) rem(15) 0 0;
        position: relative;
        background: $modalBgColor;
    }
    .modal-title {
        font-weight: 500;
        font-size: rem(32);
        text-align: center;
        &.hairline{
            @include hairline(bottom, $borderColor);
            position: relative;
            padding-bottom: rem(20);
            &:after{
                left: rem(-30);
                right: rem(-30);
                width: auto;
            }
        }
        +.modal-text {
            margin: 0;
            padding-top: rem(10);
            font-size: rem(28);
            color: #666666;
            text-align: left;
        }
    }
    .modal-text {
        margin-top: rem(10);
        font-size: rem(32);
        color: #666666;
        margin: rem(30) 0;
        max-height: rem(488);
        overflow-y: auto;
    }
    .modal-buttons {
        height: rem(88);
        overflow: hidden;
        @include display(flex);
        &.modal-buttons-vertical {
            display: block;
            height: auto;
        }
    }
    .modal-button {
        width: 100%;
        padding: 0 rem(10);
        height: $modalButtonHeight;
        font-size: rem(34);
        border: 0;
        text-align: center;
        color: $modalButonColor;
        background: $modalButonBg;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        @extend %comm-flex;
        @include justify-content(center);
        @include hairline(right, $borderColor);
        @include flex(1);
        &:first-child {
            border-radius: 0 0 0 rem(15);
        }
        &:last-child {
            background-image: none;
            border-radius: 0 0 rem(15) 0;
            color: #E6143C;
        }
        &:first-child:last-child {
            border-radius: 0 0 rem(15) rem(15);
            background-origin: padding-box;
            color: $modalButonColor;
            @include hairline-remove(right);
        }
        &.modal-button-bold {
            font-weight: bold;
        }
        .modal-buttons-vertical & {
            background-image: none;
            @include hair(bottom, $borderColor);
            border-radius: 0;
            &:last-child {
                border-radius: 0 0 rem(15) rem(15);
                background-image: none;
            }
        }
    }
    .modal-no-buttons {
        .modal-inner {
            border-radius: rem(15);
            background-image: none;
        }
        .modal-buttons {
            display: none;
        }
    }
}
