.bl-msg{
  text-align: center;
  padding-top: rem(54);
  .bl-icon-msg{
    width: rem(180);
    height: rem(180);
  }
  .bl-icon-area{
    margin-bottom: rem(20);
  }
  .bl-text-area{
    .bl-msg-title{
      font-family: PingFangSC-Regular;
      font-size: rem(48);
      color: #000000;
      margin-bottom: rem(6);
      font-weight: normal;
    }
    .bl-msg-desc{
      font-size: rem(30);
      color: #666666;
    }
  }
  .bl-opr-area{
    margin-top: rem(70);
  }
  .bl-btn-area{
    margin: 0 rem(100);

  }

}
