@charset "utf-8";
/* -------------------------------------------------
 * bl-btn scss
 * -------------------------------------------------
*/


// 变量
//----------------------------------
$btnBaseClass:           bl-btn !default; //按钮的基本class
$inlineBtnClass:         bl-btn-inline !default; //行内按钮的基本class
$outlineBtnClass:        bl-btn-outline !default; //outline按钮基本class
$inlineBtn:              () !default; // inline按钮 1.class 名称 2.背景色 3.文字色 4.宽度 5.高度
$outlineBtn:             () !default; // outline按钮 1.class 名称 2.边框色 3.文字色 4.宽度 5.高度
$btnMulti:               () !default; // block按钮 1.class 名称 2.按钮背景颜色

%btn-basic{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(10);
  padding-right: rem(10);
  box-sizing: border-box;
  font-size: rem(34);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  line-height: 2.5;
  border-radius: 4px;
  overflow: hidden;
}

// block btn multi
@mixin btn-multi($btnMultis: $btnMulti) {
  .#{$btnBaseClass} {
    @extend %btn-basic;
  }
  @each $btn in $btnMulti {
    $class:      nth($btn,1);
    $bgColor:    nth($btn,2);
    .#{$btnBaseClass}.#{"" + $class} {
      background-color: $bgColor;
    }
  }
}
// block btn simple
@mixin simpleBtn($simpleBtn: $btnMulti) {
  .#{$btnBaseClass} {
    @extend %btn-basic;
  }
  $class:      nth($simpleBtn,1);
  $bgColor:    nth($simpleBtn,2);
  .#{$btnBaseClass}.#{"" + $class} {
    background-color: $bgColor;
  }
}

// inline
%btn-inline{
  display: inline-block;
  position: relative;
  padding: 0 rem(10);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #c5c5c5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
// inline simple
@mixin simpleInlineBtn($simpleInlineBtns: $inlineBtn) {
  .#{$inlineBtnClass} {
    @extend %btn-inline;
  }
  $class:      nth($simpleInlineBtns,1);
  $bgColor:    nth($simpleInlineBtns,2);
  $color:      nth($simpleInlineBtns,3);
  $width:      nth($simpleInlineBtns,4);
  $height:     nth($simpleInlineBtns,5);
  .#{$outlineBtnClass}.#{$class} {
    background-color: $bgColor;
    color: $color;
    line-height: $height;
    width: $width;
    &:after{
      border-color: $bgColor;
    }
  }
}

// inline multi
@mixin multiInlineBtn($multiInlineBtns: $inlineBtn) {
  .#{$inlineBtnClass} {
    @extend %btn-inline;
  }

  @each $multiInlineBtn in $multiInlineBtns {
    $class:      nth($multiInlineBtn,1);
    $bgColor:    nth($multiInlineBtn,2);
    $color:      nth($multiInlineBtn,3);
    $width:      nth($multiInlineBtn,4);
    $height:     nth($multiInlineBtn,5);
    .#{$outlineBtnClass}.#{$class} {
      background-color: $bgColor;
      color: $color;
      line-height: $height;
      width: $width;
      &:after{
        border-color: $bgColor;
      }
    }
  }
}

// inline outline simple
@mixin simpleOutlineBtn($simpleOutlineBtns: $outlineBtn) {
  .#{$inlineBtnClass} {
    @extend %btn-inline;
  }
  $class:       nth($simpleOutlineBtns,1);
  $borColor:    nth($simpleOutlineBtns,2);
  $color:       nth($simpleOutlineBtns,3);
  $width:       nth($simpleOutlineBtns,4);
  $height:      nth($simpleOutlineBtns,5);
  .#{$outlineBtnClass}.#{$class} {
    color: $color;
    line-height: $height;
    width: $width;
    &:after{
      border-color: $borColor;
    }
  }
}

// inline outline multi
@mixin multiOutlineBtn($simpleOutlineBtns: $outlineBtn) {
  .#{$inlineBtnClass} {
    @extend %btn-inline;
  }
  @each $simpleOutlineBtn in $simpleOutlineBtns {
    $class:       nth($simpleOutlineBtn,1);
    $borColor:    nth($simpleOutlineBtn,2);
    $color:       nth($simpleOutlineBtn,3);
    $width:       nth($simpleOutlineBtn,4);
    $height:      nth($simpleOutlineBtn,5);
    .#{$outlineBtnClass}.#{$class} {
      color: $color;
      line-height: $height;
      width: $width;
      &:after{
        border-color: $borColor;
      }
    }
  }
}

