/* menu */
/* 
.nav-menu.Grid>(a.item-menu.Cell.Cell-fill>img+div.item-p{})*4
*/
.nav-menu{
	padding: rem(22) 0;
	@include display(flex);
	.item-menu{
		@include flex(1);
		width: 0;
		text-align: center;
		img{
			width: rem(107);
			height: rem(107);
		}
		.lazy-box{
			background-image: none;
			background-color: transparent;
		}
	}
	.item-p{
		margin-top: rem(8);
		font-size: rem(24);
		padding: 0 rem(5);
		color: $graylikver;
		@include ellipsis();
	}
}